$background-color: black;
$body-color: #f1f1f1;
$accent-color: #0f0;

$hr-color: #333;

$button-font-color: $body-color;

$button-background-color: #333;
$button-background-color-active: $accent-color;

$code-background-color: #333;
$code-border-color: #444;

$settings-icon-color: transparentize($button-background-color, 0.4);

@import "base";
