.toggle-button {
	 float: left;
	 cursor: pointer;
	 -moz-border-radius: 80px;
	 -webkit-border-radius: 80px;
	 border-radius: 80px;
	 display: block;
	 background-color: rgba(0, 0, 0, 0.15);
	 margin: 20px 10px 20px 0;
	 padding: 10px 20px;
	 -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
	 -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
	 -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
	 transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
	 color: #fff;
	 font-size: 14px;
 }
 .toggle-button:hover {
 	background-color: rgba(0, 0, 0, 0.5);
 }

 .toggle-button.is-checked {
	 background-color: rgba($base-accent-color, 0.5);
 }

 .toggle-button.is-checked:hover {
	 background-color: rgba($base-accent-color, 0.75);
 }

 