body {
  background-color: #81CFE0;
  color: white;
}
body a {
  color: #22313F;
}
body a:hover {
  color: #070a0d;
}

.modal label {
  color: rgba(51, 51, 51, 0.2);
}
.modal label:hover {
  color: #333;
}

.toggle-button {
  background-color: rgba(51, 51, 51, 0.6);
  color: white;
}

.toggle-button:hover {
  background-color: #333;
}

.toggle-button.is-checked {
  background-color: rgba(34, 49, 63, 0.6);
}

.toggle-button.is-checked:hover {
  background-color: #22313F;
}

code, pre {
  background: #278ba1 !important;
  border: 1px solid #44b8d1 !important;
}

hr {
  border-bottom-color: #d9d9d9;
}
