body {
  background-color: black;
  color: #f1f1f1;
}
body a {
  color: #0f0;
}
body a:hover {
  color: #00b300;
}

.modal label {
  color: rgba(51, 51, 51, 0.6);
}
.modal label:hover {
  color: #333;
}

.toggle-button {
  background-color: rgba(51, 51, 51, 0.6);
  color: #f1f1f1;
}

.toggle-button:hover {
  background-color: #333;
}

.toggle-button.is-checked {
  background-color: rgba(0, 255, 0, 0.6);
}

.toggle-button.is-checked:hover {
  background-color: #0f0;
}

code, pre {
  background: #333 !important;
  border: 1px solid #444 !important;
}

hr {
  border-bottom-color: #333;
}
