<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="todoApp" ng-controller="MainController">
<head>
	<title>todo.tab</title>
	<link href='http://fonts.googleapis.com/css?family=Radley:400,400italic' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="style/style.css">
  	<link rel="stylesheet" ng-href="themes/css/{{theme}}.css">
</head>
<body class="type-system-traditional" >
	
	<div class="modal">
		<label for="modal-1">
			<i class="fa fa-cog"></i>
		</label>

		<input class="modal-state" id="modal-1" type="checkbox" />

		<div class="modal-window">
			<div class="modal-inner">
				<label class="modal-close" for="modal-1"></label>
				<h1>Settings</h1>
				<p class="intro">For additional help and information please visit <a href="https://github.com/mcgraths/todo.tab">todo.tab on GitHub</a>.</p>
				<p class="body">
					<label for="theme-selection">Color Theme:</label>
					<select name="theme" id="theme-selection" ng-model="theme" ng-change="themeChanged()">
						<option value="default">Default</option>
						<option value="inverted">Inverted</option>
						<option value="sticky">Sticky</option>
						<option value="terminal">Terminal</option>
						<option value="ocean">Ocean</option>
					</select>
				</p>
				<p class="body">
					<label for="bullet-selection">Bullet Type:</label>
					<select name="bullet" id="bullet-selection" ng-model="bullet" ng-change="bulletChanged()">
						<option value="bullet-default">&gt;</option>
						<option value="bullet-dash">-</option>
						<option value="bullet-slash">\</option>
						<option value="bullet-none">None</option>
					</select>
				</p>
				<p class="credit">Created by <a href="http://www.seanmcgrath.me/">Sean McGrath</a>.</p>
			</div>
		</div>
	</div>


	<div id="main" ng-hide="showMarkdown">
		<div class="editable-h1">
			<input type="text" id="title-edit" ng-model="title" ng-change="titleChanged()">
		</div>

		<hr>

		<ul class="todo-list {{bullet}}">
			<li ng-repeat="todo in todos track by $index">
				<input ng-hide="preview" class="todo" id="{{todo.id}}" type="text" value="{{todo.name}}" ng-model="todo.name" ng-change="todosChanged()" todo>
				<div ng-show="preview" class="rendered" ng-bind-html="todo.name | renderMarkdown"></div>
			</li>
		</ul>
	</div>

	<pre ng-show="showMarkdown">{{markdown}}</pre>

	<div id="footer">
		<span class="toggle-button" ng-click="displayMarkdown()" ng-class="showMarkdown ? 'is-checked' : ''">
			Display Markdown
		</span>	
		<span class="toggle-button" ng-click="previewMarkdown()" ng-class="preview ? 'is-checked' : ''">
			Markdown Preview
		</span>	
	</div>

	<script src="js/vendor/vendors.js"></script>
	<script src="js/modules/modules.js"></script>
	<script src="js/app.min.js"></script>
</body>
</html>