/* editables */

.borderless-input {
	outline: none !important;
	border: 0;
	box-shadow: none;
	background-color: transparent;
	-webkit-font-smoothing: antialiased;
}

.editable-h1 {
	input {
		@extend h1;
		color: $base-font-color;
		padding: 0;
		@extend .borderless-input;
	}

	input:focus {
			@extend .borderless-input;
		}
}