.todo-list {
	position: relative;
	
	.todo {
		outline: none !important;
		border: 0;
		box-shadow: none;
		color: $base-font-color;
		width: 90%;
		display: inline-block;
		margin-bottom: 0;

		&:focus {
			outline: none !important;
			border: 0;
			box-shadow: none;
		}
	}

	li::before {
			content: "> ";
			font-weight: bold;
			font-family: Courier;
		}

	.done {
		content: '';
		position: absolute;
		border-color: #009933;
		border-style: solid;
		border-width: 0 0.3em 0.25em 0;
		height: 1em;
		top: 1.3em;
		left: 0.6em;
		margin-top: -1em;
		transform: rotate(45deg);
		width: 0.5em;
	}
}

